{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
<style>
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    li {
        text-align: center;
        font-size: 30px;
    }
</style>
<h1>Places to take your children during December in Houston.</h1>
<h2>Please pick your child's age range</h2>
<body style="background-color:indianred;"></body>
<ul style="list-style-type:none;">
    <li>
        <a href="1-4" style="color:green">1-4</a>
    </li>
    <li>
        <a href="5-8" style="color:green">5-8</a>
    </li>
    <li>
        <a href="8-12" style="color:green">8-12</a>
    </li>
    
</ul>

    {% endblock %}
 